<div class="container">
  <div class="jumbotron">
    <h1>Hero Squad Man App</h1>
    <p>This is an app for tracking Heroes and their respective Squads</p>
    <div class="row">
      <div class="col-md-6">
        <a href="/squads">View Squad List</a>
      </div>
      <div class="col-md-6">
        <a href="/squads/new">Add a New Squad</a>
      </div>
    </div>
  </div>

</div>
