<h1>$squad.getName() Heroes:</h1>

#if ($squad.getHeros().size()> 0)
<ul>
  #foreach($hero in $squad.getHeros())
   <li><a href="/heros/$hero.getId()">$hero.getName()</a></li>
  #end
</ul>
#else
 <p>No Heroes!</p>
#end

<a href="/squads/$squad.getId()/newhero">Add a new Hero</a>

<a href="/squads">All Squads</a>
