<div class="panel panel-success">
      <div class="panel-heading">Great!!</div>
      <div class="panel-body">
       $Message
      </div>
       <div class="panel-footer">
           <a href="$link">$linkto</a>
           <a href="/">HomePage</a>
       </div>
</div>
